* {
  box-sizing: border-box;
}

.main-content {
  display: flex;
}

#main-layout {
  background: url(./assets/apple.jpg) center / cover no-repeat fixed;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.showcase-wrapper {
  width: 100%;
  height: calc(100vh - 64px);
}

.showcase {
  width: 95%;
  height: 250px;
  margin: 20px 20px 0;
}

.memberItems {
  width: 1100px;
  margin: 0 auto;
}

.sidebar-wrapper {
  width: 20%;
  height: calc(100vh - 64px);
}

.navigation-link:hover {
  text-indent: 1rem;
}

.navigation-link {
  transition: all 0.3s ease-in-out;
}

.user-avatar {
  width: 150px;
  height: 150px;
  display: flex;

  align-items: center;
  justify-content: center;
}
